
.task-list-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    display: flex;
    flex-direction:row;
  }
  
  .header {
    color: #2c3e50;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .task-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
  }