<div class="task-card" [class.completed]="status === 'Completed'">
    <div class="task-header">
        <h3>{{ title }}</h3>
        <span class="category"> {{ category }}</span>
    </div>
    
    <p>{{ description }}</p>
    <div class="task-footer">
        
    </div>
    <span class="status" [class.completed]="status === 'Completed'">
        {{ status }}
    </span>
    
    <button 
        (click)="markAsCompleted()" 
        [disabled]="status === 'Completed'"
        [class.completed-btn]="status === 'Completed'">
        {{ status === 'Completed' ? 'Completed ✅' : '✔ Mark as Completed' }}
    </button>

    <a [routerLink]="['/task', taskId]" class="view-details">View Details</a>
</div>
