body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-image{
    width: 380px;
    height: auto;
    margin-right: 20px;
}
.login-container{
    background: white;
    padding: 20px;
    border: 1px solid #dbdbdb;
    text-align: center;
    width: 350px;
}
.login-container h1{
    font-family: 'Brush Script MT', cursive;
    font-size: 36px;
    margin-bottom: 20px;

}
.input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    outline: none; 
}
.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:  pointer;
    font-weight: bold;

}
.login-btn:hover {
    background-color: #1877f2;

}
.forgot-password, .register-link {
    font-size: 12px;
    margin-top: 10px;
}
.facebook-login {
    margin-top: 10px;
}
.facebook-login a {
    color: #385185;
    font-weight: bold;
    text-decoration: none;
}